{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/accounts/535789","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "Etag":["\"c941c13ad31e3d45bbfd2eadc0b52159\""]},"body":{"encoding":"UTF-8","string":"{\n  \"name\": \"Wildbit\",\n  \"status\": \"active\",\n  \"created_at\": \"2013-06-12T22:03:06Z\",\n  \"id\": 535789,\n  \"plan\": \"Free\",\n  \"updated_at\": \"2014-01-07T21:29:13Z\",\n  \"kind\": \"account\"\n}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 15:44:00 GMT"}],"recorded_with":"VCR 2.8.0"}