{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/accounts",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "Etag":[
                        "\"d54537e21917a16a5c84b654bc53c99b\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"[\n  {\n    \"updated_at\": \"2014-01-07T21:29:13Z\",\n    \"plan\": \"Free\",\n    \"status\": \"active\",\n    \"id\": 535789,\n    \"kind\": \"account\",\n    \"created_at\": \"2013-06-12T22:03:06Z\",\n    \"name\": \"Wildbit\"\n  }\n]"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 15:43:58 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}