{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462","body":{"encoding":"UTF-8","string":"{\"current_state\":\"started\"}"},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "X-Tracker-Project-Version":["34"], "Etag":["\"f9e8caa6687cea6832bbc3e868385a61\""]},"body":{"encoding":"UTF-8","string":"{\n  \"name\": \"Integration with Pivotal Tracker\",\n  \"created_at\": \"2014-01-07T21:30:13Z\",\n  \"estimate\": 1,\n  \"requested_by_id\": 1033785,\n  \"id\": 63414462,\n  \"updated_at\": \"2014-01-20T20:49:32Z\",\n  \"kind\": \"story\",\n  \"description\": \"I would love to see my commits associated with my user stories\",\n  \"current_state\": \"started\",\n  \"url\": \"http://www.pivotaltracker.com/story/show/63414462\",\n  \"project_id\": 987666,\n  \"labels\": [\n    {\n      \"name\": \"hello world\",\n      \"created_at\": \"2014-01-20T20:49:24Z\",\n      \"id\": 7515704,\n      \"updated_at\": \"2014-01-20T20:49:24Z\",\n      \"kind\": \"label\",\n      \"project_id\": 987666\n    },\n    {\n      \"name\": \"integration\",\n      \"created_at\": \"2014-01-07T21:30:13Z\",\n      \"id\": 7415284,\n      \"updated_at\": \"2014-01-07T21:30:13Z\",\n      \"kind\": \"label\",\n      \"project_id\": 987666\n    },\n    {\n      \"name\": \"lol labels\",\n      \"created_at\": \"2014-01-20T20:27:23Z\",\n      \"id\": 7515546,\n      \"updated_at\": \"2014-01-20T20:27:23Z\",\n      \"kind\": \"label\",\n      \"project_id\": 987666\n    },\n    {\n      \"name\": \"my awesome label\",\n      \"created_at\": \"2014-01-20T20:23:00Z\",\n      \"id\": 7515512,\n      \"updated_at\": \"2014-01-20T20:23:00Z\",\n      \"kind\": \"label\",\n      \"project_id\": 987666\n    }\n  ],\n  \"story_type\": \"feature\",\n  \"owner_ids\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 21:06:00 GMT"}],"recorded_with":"VCR 2.8.0"}