{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/stories/63414462","body":{"encoding":"UTF-8","string":"{\"owned_by_id\":1033785}"},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "X-Tracker-Project-Version":["42"], "Etag":["\"4c93b3051df47b986f289d66d8f702c8\""]},"body":{"encoding":"UTF-8","string":"{\n  \"current_state\": \"started\",\n  \"owned_by_id\": 1033785,\n  \"owner_ids\": [\n    1033785\n  ],\n  \"description\": \"I would love to see my commits associated with my user stories\",\n  \"updated_at\": \"2014-01-24T15:26:36Z\",\n  \"project_id\": 987666,\n  \"id\": 63414462,\n  \"kind\": \"story\",\n  \"estimate\": 1,\n  \"requested_by_id\": 1033785,\n  \"created_at\": \"2014-01-07T21:30:13Z\",\n  \"url\": \"http://www.pivotaltracker.com/story/show/63414462\",\n  \"name\": \"Integration with Pivotal Tracker\",\n  \"labels\": [\n    {\n      \"updated_at\": \"2014-01-23T20:59:48Z\",\n      \"project_id\": 987666,\n      \"id\": 7545694,\n      \"kind\": \"label\",\n      \"created_at\": \"2014-01-23T20:59:48Z\",\n      \"name\": \"#!@#\"\n    },\n    {\n      \"updated_at\": \"2014-01-23T21:00:09Z\",\n      \"project_id\": 987666,\n      \"id\": 7545702,\n      \"kind\": \"label\",\n      \"created_at\": \"2014-01-23T21:00:09Z\",\n      \"name\": \"$%^1!\"\n    },\n    {\n      \"updated_at\": \"2014-01-23T20:59:44Z[...]
