{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462/comments",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "4"
                    ],
                    "Etag":[
                        "\"00ad5685defbdf82485a4e247d115bb4\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"[\n  {\n    \"text\": \"Hello World!\",\n    \"updated_at\": \"2014-01-20T16:37:42Z\",\n    \"id\": 59955332,\n    \"kind\": \"comment\",\n    \"person_id\": 1033785,\n    \"created_at\": \"2014-01-20T16:37:42Z\",\n    \"story_id\": 63414462\n  }\n]"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 16:47:09 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}