{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/epics/1017976",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "14"
                    ],
                    "Etag":[
                        "\"dc3c10251e267ff25cccbf17f0841803\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"name\": \"My Epic\",\n  \"url\": \"http://www.pivotaltracker.com/epic/show/1017976\",\n  \"kind\": \"epic\",\n  \"id\": 1017976,\n  \"project_id\": 987666,\n  \"label\": {\n    \"name\": \"my epic\",\n    \"kind\": \"label\",\n    \"id\": 7513542,\n    \"project_id\": 987666,\n    \"updated_at\": \"2014-01-20T17:21:56Z\",\n    \"created_at\": \"2014-01-20T17:21:56Z\"\n  },\n  \"updated_at\": \"2014-01-20T17:21:56Z\",\n  \"created_at\": \"2014-01-20T17:21:56Z\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 18:46:22 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}