{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/epics/1017976/comments/59968756",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "19"
                    ],
                    "Etag":[
                        "\"d0c1cd101a8056680e6f2420d7b6373a\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"text\": \"My New Epic Comment\",\n  \"updated_at\": \"2014-01-20T18:58:26Z\",\n  \"id\": 59968756,\n  \"kind\": \"comment\",\n  \"person_id\": 1033785,\n  \"epic_id\": 1017976,\n  \"created_at\": \"2014-01-20T18:58:26Z\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 19:33:35 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}