{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/epics",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "14"
                    ],
                    "Etag":[
                        "\"0cbcf7f749eb85e7d3e39eb789003204\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"[\n  {\n    \"updated_at\": \"2014-01-20T17:21:56Z\",\n    \"label\": {\n      \"updated_at\": \"2014-01-20T17:21:56Z\",\n      \"project_id\": 987666,\n      \"kind\": \"label\",\n      \"id\": 7513542,\n      \"created_at\": \"2014-01-20T17:21:56Z\",\n      \"name\": \"my epic\"\n    },\n    \"project_id\": 987666,\n    \"kind\": \"epic\",\n    \"id\": 1017976,\n    \"url\": \"http://www.pivotaltracker.com/epic/show/1017976\",\n    \"created_at\": \"2014-01-20T17:21:56Z\",\n    \"name\": \"My Epic\"\n  }\n]"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 18:46:21 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}