{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/epics/1017976/comments",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "16"
                    ],
                    "Etag":[
                        "\"18446ea3f03b226457df3d61cb022bd9\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"[\n  {\n    \"text\": \"My New Epic Comment\",\n    \"updated_at\": \"2014-01-20T18:58:26Z\",\n    \"id\": 59968756,\n    \"kind\": \"comment\",\n    \"person_id\": 1033785,\n    \"epic_id\": 1017976,\n    \"created_at\": \"2014-01-20T18:58:26Z\"\n  }\n]"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 18:59:09 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}