{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462/labels","body":{"encoding":"UTF-8","string":"{\"name\":\"my awesome label\"}"},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "Etag":["\"e885ee6948a9f0331254bde9ef52b022\""], "X-Tracker-Project-Version":["30"]},"body":{"encoding":"UTF-8","string":"{\n  \"created_at\": \"2014-01-20T20:23:00Z\",\n  \"updated_at\": \"2014-01-20T20:23:00Z\",\n  \"project_id\": 987666,\n  \"id\": 7515512,\n  \"name\": \"my awesome label\",\n  \"kind\": \"label\"\n}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 20:36:02 GMT"}],"recorded_with":"VCR 2.8.0"}