{
    "http_interactions":[
        {
            "request":{
                "method":"post",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/epics/1017976/comments",
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\"text\":\"My New Epic Comment\"}"
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "Etag":[
                        "\"b7741563077f4b54c41e744006baaa60\""
                    ],
                    "X-Tracker-Project-Version":[
                        "17"
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"epic_id\": 1017976,\n  \"text\": \"My New Epic Comment\",\n  \"created_at\": \"2014-01-20T18:59:10Z\",\n  \"updated_at\": \"2014-01-20T18:59:10Z\",\n  \"person_id\": 1033785,\n  \"id\": 59968822,\n  \"kind\": \"comment\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 18:59:10 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}