{
    "http_interactions":[
        {
            "request":{
                "method":"post",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462/comments",
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\"text\":\"My New Comment\"}"
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "Etag":[
                        "\"a2c3f8842683e7210057141999b5ad27\""
                    ],
                    "X-Tracker-Project-Version":[
                        "12"
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"text\": \"My New Comment\",\n  \"created_at\": \"2014-01-20T17:13:44Z\",\n  \"updated_at\": \"2014-01-20T17:13:44Z\",\n  \"person_id\": 1033785,\n  \"story_id\": 63414462,\n  \"id\": 59959282,\n  \"kind\": \"comment\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 17:13:44 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}