{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "Etag":["\"e937455d318b70ca11ce4a281b7cf7d5\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"account_id\": 535789,\n    \"name\": \"Beanstalk Integration\",\n    \"enable_following\": true,\n    \"created_at\": \"2014-01-07T21:29:29Z\",\n    \"atom_enabled\": false,\n    \"initial_velocity\": 10,\n    \"enable_incoming_emails\": true,\n    \"time_zone\": {\n      \"offset\": \"-05:00\",\n      \"kind\": \"time_zone\",\n      \"olson_name\": \"America/New_York\"\n    },\n    \"enable_tasks\": true,\n    \"point_scale\": \"0,1,2,3\",\n    \"version\": 3,\n    \"velocity_averaged_over\": 3,\n    \"id\": 987666,\n    \"updated_at\": \"2014-01-07T21:29:29Z\",\n    \"start_time\": \"2014-01-20T05:00:00Z\",\n    \"public\": true,\n    \"kind\": \"project\",\n    \"current_iteration_number\": 1,\n    \"has_google_domain\": false,\n    \"bugs_and_chores_are_estimatable\": false,\n    \"point_scale_is_custom\": false,\n    \"enable_planned_mode\": false,\n    \"week_start_day\": \"Monday\",\n    \"iteration_length\": 1,\n    \"number_of_done_iterations_to_show\": 12\n  },\n  {\n    \"account_id\": 535789,\n    \"name\": \"Seedling\",\n    \"enable_following\": true,\n    \"created_at\": \"2014-01-17T21:52:17Z\",\n    \"atom_enabled\": false,\n    \"initial_velocity\": 10,\n    \"enable_incoming_emails\": true,\n    \"time_zone\": {\n      \"offset\": \"-08:00\",\n      \"kind\": \"time_zone\",\n      \"olson_name\": \"America/Los_Angeles\"\n    },\n    \"enable_tasks\": true,\n    \"point_scale\": \"0,1,2,3\",\n    \"version\": 1,\n    \"velocity_averaged_over\": 3,\n    \"id\": 995782,\n    \"updated_at\": \"2014-01-17T21:52:17Z\",\n    \"start_time\": \"2014-01-20T08:00:00Z\",\n    \"public\": true,\n    \"kind\": \"project\",\n    \"current_iteration_number\": 1,\n    \"has_google_domain\": false,\n    \"bugs_and_chores_are_estimatable\": false,\n    \"point_scale_is_custom\": false,\n    \"enable_planned_mode\": false,\n    \"week_start_day\": \"Monday\",\n    \"iteration_length\": 1,\n    \"number_of_done_iterations_to_show\": 12\n  }\n]"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 15:44:00 GMT"}],"recorded_with":"VCR 2.8.0"}