{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "3"
                    ],
                    "Etag":[
                        "\"dd7f57d478c796335acb7e31d2b01767\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"week_start_day\": \"Monday\",\n  \"name\": \"Beanstalk Integration\",\n  \"start_time\": \"2014-01-20T05:00:00Z\",\n  \"enable_incoming_emails\": true,\n  \"has_google_domain\": false,\n  \"velocity_averaged_over\": 3,\n  \"point_scale_is_custom\": false,\n  \"public\": true,\n  \"kind\": \"project\",\n  \"enable_tasks\": true,\n  \"iteration_length\": 1,\n  \"id\": 987666,\n  \"enable_planned_mode\": false,\n  \"bugs_and_chores_are_estimatable\": false,\n  \"version\": 3,\n  \"atom_enabled\": false,\n  \"initial_velocity\": 10,\n  \"current_iteration_number\": 1,\n  \"time_zone\": {\n    \"olson_name\": \"America/New_York\",\n    \"kind\": \"time_zone\",\n    \"offset\": \"-05:00\"\n  },\n  \"updated_at\": \"2014-01-07T21:29:29Z\",\n  \"account_id\": 535789,\n  \"number_of_done_iterations_to_show\": 12,\n  \"enable_following\": true,\n  \"created_at\": \"2014-01-07T21:29:29Z\",\n  \"point_scale\": \"0,1,2,3\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 15:42:56 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}