{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/987666/labels","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "X-Tracker-Project-Version":["30"], "Etag":["\"bafefd14cb1d1a6744c3b7020d72f729\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"name\": \"integration\",\n    \"created_at\": \"2014-01-07T21:30:13Z\",\n    \"id\": 7415284,\n    \"updated_at\": \"2014-01-07T21:30:13Z\",\n    \"kind\": \"label\",\n    \"project_id\": 987666\n  },\n  {\n    \"name\": \"lol labels\",\n    \"created_at\": \"2014-01-20T20:27:23Z\",\n    \"id\": 7515546,\n    \"updated_at\": \"2014-01-20T20:27:23Z\",\n    \"kind\": \"label\",\n    \"project_id\": 987666\n  },\n  {\n    \"name\": \"my awesome label\",\n    \"created_at\": \"2014-01-20T20:23:00Z\",\n    \"id\": 7515512,\n    \"updated_at\": \"2014-01-20T20:23:00Z\",\n    \"kind\": \"label\",\n    \"project_id\": 987666\n  },\n  {\n    \"name\": \"my epic\",\n    \"created_at\": \"2014-01-20T17:21:56Z\",\n    \"id\": 7513542,\n    \"updated_at\": \"2014-01-20T17:21:56Z\",\n    \"kind\": \"label\",\n    \"project_id\": 987666\n  },\n  {\n    \"name\": \"my new label\",\n    \"created_at\": \"2014-01-20T20:19:26Z\",\n    \"id\": 7515482,\n    \"updated_at\": \"2014-01-20T20:19:26Z\",\n    \"kind\": \"label\",\n    \"project_id\": 987666\n  }\n]"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 20:36:02 GMT"}],"recorded_with":"VCR 2.8.0"}