{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462/comments",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "19"
                    ],
                    "Etag":[
                        "\"c2beea47970dacd497eaa0f95ee0e32b\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"[\n  {\n    \"created_at\": \"2014-01-20T16:37:42Z\",\n    \"id\": 59955332,\n    \"updated_at\": \"2014-01-20T16:37:42Z\",\n    \"kind\": \"comment\",\n    \"story_id\": 63414462,\n    \"text\": \"Hello World!\",\n    \"person_id\": 1033785\n  },\n  {\n    \"created_at\": \"2014-01-20T16:58:08Z\",\n    \"id\": 59957418,\n    \"updated_at\": \"2014-01-20T16:58:08Z\",\n    \"kind\": \"comment\",\n    \"story_id\": 63414462,\n    \"text\": \"Text goes here\",\n    \"person_id\": 1033785\n  },\n  {\n    \"created_at\": \"2014-01-20T16:58:37Z\",\n    \"commit_type\": \"beanstalk\",\n    \"id\": 59957472,\n    \"updated_at\": \"2014-01-20T16:58:37Z\",\n    \"kind\": \"comment\",\n    \"commit_identifier\": \"82cf543\",\n    \"story_id\": 63414462,\n    \"text\": \"Text goes here\",\n    \"person_id\": 1033785\n  },\n  {\n    \"created_at\": \"2014-01-20T16:59:21Z\",\n    \"commit_type\": \"beanstalk\",\n    \"id\": 59957574,\n    \"updated_at\": \"2014-01-20T16:59:21Z\",\n    \"kind\": \"comment\",\n    \"commit_identifier\": \"82cf543\",\n    \"story_id\": 63414462,\n    \"text\": \"A new commit was made on master branch.\",\n    \"person_id\": 1033785\n  },\n  {\n    \"created_at\": \"2014-01-2[...]
