{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/stories/63414462",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ],
                    "Content-Type":[
                        "application/json"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "Etag":[
                        "\"a919a3dc242ca3ba14d7ba19c396b818\""
                    ],
                    "X-Tracker-Project-Version":[
                        "48"
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"created_at\": \"2014-01-07T21:30:13Z\",\n  \"labels\": [\n    {\n      \"created_at\": \"2014-01-23T20:59:48Z\",\n      \"updated_at\": \"2014-01-23T20:59:48Z\",\n      \"project_id\": 987666,\n      \"id\": 7545694,\n      \"name\": \"#!@#\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-23T21:00:09Z\",\n      \"updated_at\": \"2014-01-23T21:00:09Z\",\n      \"project_id\": 987666,\n      \"id\": 7545702,\n      \"name\": \"$%^1!\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-23T20:59:44Z\",\n      \"updated_at\": \"2014-01-23T20:59:44Z\",\n      \"project_id\": 987666,\n      \"id\": 7545692,\n      \"name\": \"hello\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-20T20:49:24Z\",\n      \"updated_at\": \"2014-01-20T20:49:24Z\",\n      \"project_id\": 987666,\n      \"id\": 7515704,\n      \"name\": \"hello world\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-07T21:30:13Z\",\n      \"updated_at\": \"2014-01-07T21:30:13Z\",\n      \"project_id\": 987666,\n      \"id\": 7415284,\n      \"name\": \"integration\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-20T20:27:23Z\",\n      \"updated_at\": \"2014-01-20T20:27:23Z\",\n      \"project_id\": 987666,\n      \"id\": 7515546,\n      \"name\": \"lol labels\",\n      \"kind\": \"label\"\n    },\n    {\n      \"created_at\": \"2014-01-20T20:23:00Z\",\n      \"updated_at\": \"2014-01-20T20:23:00Z\",\n      \"project_id\": 987666,\n      \"id\": 7515512,\n      \"name\": \"my awesome label\",\n      \"kind\": \"label\"\n    }\n  ],\n  \"owned_by_id\": 1033785,\n  \"updated_at\": \"2014-01-24T15:26:36Z\",\n  \"url\": \"http://www.pivotaltracker.com/story/show/63414462\",\n  \"project_id\": 987666,\n  \"description\": \"I would love to see my commits associated with my user stories\",\n  \"story_type\": \"feature\",\n  \"owner_ids\": [\n    1033785\n  ],\n  \"id\": 63414462,\n  \"current_state\": \"started\",\n  \"estimate\": 1,\n  \"name\": \"Integration with Pivotal Tracker\",\n  \"requested_by_id\": 1033785,\n  \"kind\": \"story\"\n}"
                },
            },
            "recorded_at":"Tue, 28 Jan 2014 18:15:23 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}