{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "X-Tracker-Project-Version":["3"], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Pagination-Total":["1"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "Etag":["\"7cf8f492246ccee4718b6c07b125e4f7\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"current_state\": \"unscheduled\",\n    \"owner_ids\": [\n\n    ],\n    \"description\": \"I would love to see my commits associated with my user stories\",\n    \"updated_at\": \"2014-01-07T21:30:13Z\",\n    \"project_id\": 987666,\n    \"id\": 63414462,\n    \"kind\": \"story\",\n    \"requested_by_id\": 1033785,\n    \"url\": \"https://www.pivotaltracker.com/story/show/63414462\",\n    \"created_at\": \"2014-01-07T21:30:13Z\",\n    \"labels\": [\n      {\n        \"updated_at\": \"2014-01-07T21:30:13Z\",\n        \"project_id\": 987666,\n        \"kind\": \"label\",\n        \"id\": 7415284,\n        \"created_at\": \"2014-01-07T21:30:13Z\",\n        \"name\": \"integration\"\n      }\n    ],\n    \"name\": \"Integration with Pivotal Tracker\",\n    \"story_type\": \"feature\"\n  }\n]"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 15:43:59 GMT"}],"recorded_with":"VCR 2.8.0"}