{
    "http_interactions":[
        {
            "request":{
                "method":"get",
                "uri":"https://www.pivotaltracker.com/services/v5/stories/63414462",
                "body":{
                    "encoding":"US-ASCII",
                    "string":""
                },
                "headers":{
                    "X-Trackertoken":[
                        "7d2d06f6381f9be18833d44c9361828c"
                    ]
                }
            },
            "response":{
                "status":{
                    "code":200,
                    "message":"OK"
                },
                "headers":{
                    "Content-Type":[
                        "application/json; charset=utf-8"
                    ],
                    "Status":[
                        "200"
                    ],
                    "X-Tracker-Project-Version":[
                        "3"
                    ],
                    "Etag":[
                        "\"e848fb39edcbc8b4528bf5d22d67ffb9\""
                    ]
                },
                "body":{
                    "encoding":"UTF-8",
                    "string":"{\n  \"current_state\": \"unscheduled\",\n  \"owner_ids\": [\n\n  ],\n  \"description\": \"I would love to see my commits associated with my user stories\",\n  \"updated_at\": \"2014-01-07T21:30:13Z\",\n  \"project_id\": 987666,\n  \"id\": 63414462,\n  \"kind\": \"story\",\n  \"requested_by_id\": 1033785,\n  \"created_at\": \"2014-01-07T21:30:13Z\",\n  \"url\": \"http://www.pivotaltracker.com/story/show/63414462\",\n  \"name\": \"Integration with Pivotal Tracker\",\n  \"labels\": [\n    {\n      \"updated_at\": \"2014-01-07T21:30:13Z\",\n      \"project_id\": 987666,\n      \"id\": 7415284,\n      \"kind\": \"label\",\n      \"created_at\": \"2014-01-07T21:30:13Z\",\n      \"name\": \"integration\"\n    }\n  ],\n  \"story_type\": \"feature\"\n}"
                },
            },
            "recorded_at":"Mon, 20 Jan 2014 15:44:01 GMT"
        }
    ],
    "recorded_with":"VCR 2.8.0"
}