{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/987666/stories/63414462/comments/59955332","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "X-Tracker-Project-Version":["19"], "Etag":["\"f3a5d8feec863b859905316ea984bf48\""]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"comment\",\n  \"id\": 59955332,\n  \"person_id\": 1033785,\n  \"text\": \"Hello World!\",\n  \"story_id\": 63414462,\n  \"updated_at\": \"2014-01-20T16:37:42Z\",\n  \"created_at\": \"2014-01-20T16:37:42Z\"\n}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 19:31:33 GMT"}],"recorded_with":"VCR 2.8.0"}