{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/accounts/535789/memberships/1033785","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "Etag":["\"e492807a43502f1ada698f112c333d76\""]},"body":{"encoding":"UTF-8","string":"{\n  \"owner\": true,\n  \"updated_at\": \"2013-06-12T22:03:06Z\",\n  \"person\": {\n    \"initials\": \"CL\",\n    \"username\": \"chrisledet\",\n    \"id\": 1033785,\n    \"kind\": \"person\",\n    \"name\": \"Chris Ledet\"\n  },\n  \"id\": 1033785,\n  \"project_creator\": false,\n  \"time_enterer\": false,\n  \"kind\": \"account_membership\",\n  \"account_id\": 535789,\n  \"created_at\": \"2013-06-12T22:03:06Z\",\n  \"timekeeper\": true,\n  \"admin\": false\n}"},"http_version":null},"recorded_at":"Thu, 23 Jan 2014 21:32:12 GMT"}],"recorded_with":"VCR 2.8.0"}