{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/accounts/535789/memberships","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Trackertoken":["7d2d06f6381f9be18833d44c9361828c"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200"], "Etag":["\"d9078e3e338cfa2a382af5d74c69d3a5\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"account_id\": 535789,\n    \"created_at\": \"2013-06-12T22:03:06Z\",\n    \"project_creator\": false,\n    \"timekeeper\": true,\n    \"person\": {\n      \"name\": \"Chris Ledet\",\n      \"id\": 1033785,\n      \"kind\": \"person\",\n      \"initials\": \"CL\",\n      \"username\": \"chrisledet\"\n    },\n    \"id\": 1033785,\n    \"owner\": true,\n    \"time_enterer\": false,\n    \"updated_at\": \"2013-06-12T22:03:06Z\",\n    \"kind\": \"account_membership\",\n    \"admin\": false\n  }\n]"},"http_version":null},"recorded_at":"Thu, 23 Jan 2014 21:30:08 GMT"}],"recorded_with":"VCR 2.8.0"}